<!--
Exercise 02_05_01

Author: Jordan R. Stewart
Date: January 23, 2018

Filename: login.ejs

Description: login front-end markup document
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="login.css">
</head>

<body>
  <div>
    <!--JRS - Login page that redirects to the index after Authentication -->
    <h1>Twitter Notes</h1>
    <h2>Your Personal Friends Diary</h2>
    <a href="/auth/twitter">
      <img src="sign-in-with-twitter-gray.png">

    </a>
  </div>


</body>

</html>
